<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>  Supriya saraogi 1001159497</h1>
<h1>{{output}}</h1>
<body>


          <form action="/newuser" method="post">

			Name:
			<input type="text" name="username"><br>
			Password:
			<input type="password" name="password"><br>
            Group Name:
			<input type="text" name="groupname"><br>
     		 <button class="button button-block"/>Register</button>

          </form>
		  <form action="/login" method="post">
		  	Name:
			<input type="text" name="user"><br>
			Password:
			<input type="password" name="pass"><br>
		  Group Name:
			<input type="text" name="group"><br>
		  <button class="button button-block"/>login</button>
			</form>



</body>
</html>
